@import '../../style.scss';
.rightbar{
    @include themify($themes){
    flex:3;
    position:sticky;
    top:80px;
    overflow:scroll;
    background-color:themed("bgSoft") ;
    height: calc(100vh - 80px);
    color:themed("textColor");

    @include mobile{
        display: none;
    }

    &::-webkit-scrollbar{
        display: none;
    }


    .container{
        padding:20px;
        // text-align: justify;


        .item{
            box-shadow:themed("boxShadow");
            padding:20px;
            border-radius:5px;
            margin-bottom:20px;
            text-align:start;
            background-color:themed("bg") ;
            span{
                
                color: themed("textColor");
                text-align: end;
            }

            .User{

                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 20px 0px;
                // text-align: center;

                .userInfo{
                    display: flex;
                    align-items: center;
                    gap:20px;
                    position: relative;
                    color:themed("textColor");

                    .online{
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: limegreen;
                        position:absolute;
                        top: 0;
                        left: 30px;
                    }

                    p{
                        color: themed("textSoft");
                        
                      }

                    span{
                        font-weight: 500;
                        color:themed("textColor");
                    }
                  
    
                    img{
                        width:40px;
                        height:40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
    
                    .buttons{
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        button{
                            border: none;
                            padding: 5px;
                            color:themed("textColor") ;
                            cursor: pointer;

                            &:first-child{
                                background-color:steelblue;
                            }
                            &:last-child{
                                background-color: rgb(210, 31, 11);
                            }
                        }
                    }
                }

            }
        }

        
    }
}
}