@import '../../style.scss';


.Home{
    @include themify($themes){
    background-color: themed("bgSoft");
    padding: 20px 60px;
    color:themed("textColor"); 

    @include mobile{
        padding:10px;
    }
   }

}